# -*- mode: yaml -*-
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
  - '.ansible-lint'
rules:
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  indentation:
    spaces: 2
